*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.changeColorHeart{
    color: red;
    
}

.modalCancel{
    color: rgb(207, 0, 0) !important;
}

.modalAgree{
    color: rgb(0, 92, 0) !important;
}